#!/bin/bash

SSH_SET_USER_NAME="PLACEHOLDER_FOR_REMOTE_HOST_SYSTEM_USER_NAME"
SSH_SET_USER_PASSWORD="PLACEHOLDER_FOR_REMOTE_HOST_SYSTEM_USER_PASSWORD"
SSH_SET_PORT="PLACEHOLDER_FOR_REMOTE_HOST_SSH_PORT"
SSH_SET_PUBLIC_KEY="PLACEHOLDER_FOR_REMOTE_HOST_SYSTEM_SSH_PUBLIC_KEY"

echo "Prepare user and ssh configs:"

useradd -m $SSH_SET_USER_NAME
echo "$SSH_SET_USER_NAME:$SSH_SET_USER_PASSWORD" | chpasswd
usermod -aG sudo $SSH_SET_USER_NAME
chsh -s /bin/bash $SSH_SET_USER_NAME

mkdir -p /home/$SSH_SET_USER_NAME/.ssh
echo $SSH_SET_PUBLIC_KEY >> /home/$SSH_SET_USER_NAME/.ssh/authorized_keys
chown -R $SSH_SET_USER_NAME:$SSH_SET_USER_NAME /home/$SSH_SET_USER_NAME/.ssh
chmod 700 /home/$SSH_SET_USER_NAME/.ssh
chmod 600 /home/$SSH_SET_USER_NAME/.ssh/*

cat<<EOF > /etc/ssh/sshd_config
AddressFamily inet
ListenAddress 0.0.0.0
Port $SSH_SET_PORT
HostKey /etc/ssh/ssh_host_ed25519_key
AllowUsers $SSH_SET_USER_NAME
SyslogFacility AUTH
LogLevel INFO
Protocol 2
HostKeyAlgorithms ssh-ed25519,ssh-ed25519-cert-v01@openssh.com
KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org
Ciphers chacha20-poly1305@openssh.com,aes128-gcm@openssh.com,aes256-gcm@openssh.com,aes128-ctr,aes192-ctr,aes256-ctr
MACs hmac-sha2-256-etm@openssh.com,hmac-sha2-512-etm@openssh.com
LoginGraceTime 45
PermitRootLogin no
StrictModes yes
MaxAuthTries 5
MaxSessions 5
MaxStartups 2:50:10
PubkeyAuthentication yes
PasswordAuthentication no
PermitEmptyPasswords no
ChallengeResponseAuthentication no
UsePAM no
X11Forwarding no
PrintMotd no
GatewayPorts yes
Compression yes
AcceptEnv LANG LC_*
Subsystem	sftp	/usr/lib/openssh/sftp-server
EOF

systemctl restart sshd

echo "Done. User and ssh configs are set and ready"
echo "OK"
